h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #303F9F;
}

a {
  color: #106CC8;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}

ul li:first-child {
  margin-top: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

thead {
  font-weight: bolder;
  color: white;
  background-color: rgb(57,73,171);
}

td[colspan] {
  font-weight: bold;
  background-color: #C5CAE9;
}
td.ko {
  background-color: #FFCDD2;
  font-weight: bold;
  text-align: center;
}
td.ok {
  background-color: #B2DFDB;
  font-weight: bold;
  text-align: center;
}
td.na {
  background-color: #E0E0E0;
  font-weight: bold;
  text-align: center;
}
code {
  border: none !important;
  padding: 3px 4px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
}
code, pre {
  color: #25587E;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
}

img.md-card-image {
  border-bottom: 1px solid #303F9F;
  border-top: 1px solid #303F9F;
}

.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  background-color: #fbfbfb;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {
  display: inline-block;
  text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb .divider {
  padding: 0 5px;
  color: #999999;
}

.site-sidenav {
  width: 272px;
  min-width: 272px;
  max-width: 272px;
  background: #303F9F;
}

.site-sidenav md-content {
  background: transparent;
}

.site-sidenav .nav-header {
  background-color: #303F9F;
  background: linear-gradient(#283593, #303F9F);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #283593), color-stop(1, #303F9F));
  background: -webkit-linear-gradient(top, #283593 0%, #303F9F 100%);
  background: -moz-linear-gradient(top, #283593 0%, #303F9F 100%);
  background: linear-gradient(top, #283593 0%, #303F9F 100%);
  border-bottom: 1px solid #7986CB;
  flex-shrink: 0;
  z-index: 2;
}

a.docs-logo {
  border-bottom: none;
}
.docs-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 16px;
  margin: 0 auto;
}

.docs-logo > img {
  height: 150px;
  width: auto;
  display: block;
  transform-origin: 50% 0;
  transform: scale(1.2);
}

.docs-logotype {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}

.docs-menu, .docs-menu ul {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
}

.docs-menu > li:nth-child(1) {
  border-top: none;
}

.docs-menu > li {
    border-bottom: 1px solid #7986CB;
}

.site-sidenav .md-button {
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}
.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}

.label {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.label-danger {
  background-color: #c43c35;
}
.label-warning {
  background-color: #f89406;
}
.label-success {
  background-color: #46a546;
}
.label-info {
  background-color: #62cffc;
}

.content {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.content p {
  text-align: justify;
}

.content li {
  line-height: 25px;
}

.hero {
  padding: 60px 40px 40px;
}
.hero h1 {
  text-align: center;
}
.hero p {
  text-align: center;
}

.hero .title {
  color: #303F9F;
  font-weight: 800;
}

.hero .catchphrase {
  color: #303F9F;
}

.news {
  padding: 10px 50px 10px;
  border-top: 1px solid #3949AB;
  border-bottom: 1px solid #3949AB;
  color: white;
  background-color: #7986CB;
  margin-bottom: 30px;
}
.news p {
  text-align: center;
}
.news a {
  color: #FFD54F;
}

.introduction {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.introduction h2 {
  text-align: center;
  font-weight: 200;
}
.introduction p {
  text-align: center;
}

.advantages {
  padding-top: 30px;
  padding-bottom: 30px;
}

.declarative path:first-child {
  fill: #5C6BC0;
}
.simple path:last-child {
  fill: #5C6BC0;
}
.configurable path:last-child {
  fill: #5C6BC0;
}
.documentation path:last-child {
  fill: #5C6BC0;
}
.forum path:last-child {
  fill: #5C6BC0;
}
.professional-support path:last-child {
  fill: #5C6BC0;
}
.bug path:last-child {
  fill: #5C6BC0;
}
.training path:last-child {
  fill: #5C6BC0;
}
.custom path:last-child {
  fill: #5C6BC0;
}

.eef-sirius {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.eef-sirius p {
  text-align: center;
}
.eef-sirius-message {
  font-size: 50px;
}
.eef {
  color: #303F9F;
}
.sirius {
  color: #261e58;
}
.plus {
  color: #FF6F00;
}

.help {
  padding-top: 30px;
  padding-bottom: 30px;
}

.column {
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.column.small {
  max-width: 33%;
}
.column h2 {
  text-align: center;
  font-weight: 200;
}
.column p {
  text-align: center;
}
.column-icon {
  height: 70px;
  width: 70px;
}

.sponsors {
  padding-top: 30px;
  padding-bottom: 30px;
}
.sponsors h2 {
  text-align: center;
  font-weight: 200;
}
.sponsors .image_link {
  text-decoration: none;
  border-bottom: 0px;
}

.gallery .layout-row {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.gallery md-card {
  margin-left: 15px;
  margin-right: 15px;
}

.documentation-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.checklist {
  border-collapse: collapse;
}
.checklist thead {
  font-weight: bold;
}
.checklist td, th {
  border: 1px solid #999;
  padding: 0.5rem 0.7rem 0.5rem;
  text-align: left;
}

md-toolbar h2 {
  color: white;
}

.support-block {
  margin-top: 25px;
  margin-bottom: 40px;
}

.footer {
  border-top: 1px solid #3949AB;
  color: #3949AB;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
}
.footer a {
  color: #3949AB;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer li {
  list-style-type: none;
  padding-left: 0px;
}
.footer ul {
  padding-left: 0px;
}
.copyright {
  padding-top: 20px;
  font-size: 12px;
}

p.image {
  text-align: center;
}
img.view-page-group1-6-0 {
  max-width:50%;
  max-height:50%;
}
img.language1-6-0 {
  max-width:70%;
  max-height:70%;
}
img.validation1-6-0 {
  max-width:70%;
  max-height:70%;
}
